<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express FinalExam</title>

  <!-- link css files here -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>
  {{!-- navigation --}}
  <nav class="navbar navbar-dark bg-primary d-flex px-5">
    <div class="index">
      <a class="btn btn-outline-light col-1" href="/" role="button" style="width:150px">回到首頁</a>
    </div>
    <div class="items">
      <a class="btn btn-outline-light col-1" href="about" role="button" style="width:100px">About</a>
      <a class="btn btn-outline-light col-1" href="portfolio" role="button" style="width:100px">Portfolio</a>
      <a class="btn btn-outline-light col-1" href="contact" role="button" style="width:100px">Contact</a>
    </div>
  </nav>

  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}

  <!-- include javascript files here -->
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>